header {
  @include flexBox();
  height: 60rem;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/header-bg.jpg);
  background-size: 150%;
  background-attachment: fixed;
  background-position: bottom;
  color: white;
  @include flexBox(column);
  justify-content: space-between;
  padding: 10rem 0 4rem 0;
  position: relative;

  .header-text {
    h4 {
      font-size: 8rem;
      font-family: "Great Vibes", cursive;
      font-weight: 300;
      color: var(--color-secondary);
      white-space: nowrap;
    }

    h1 {
      font-size: 10rem;
      font-family: "Dancing Script", cursive;
      text-align: center;
      font-weight: bolder;
    }
  }

  .finishing-text {
    font-size: 3.5rem;
    font-family: "Courgette", cursive;
    font-weight: 100;
    color: var(--color-primary);
    text-align: center;

    a {
      display: inline-block;

      border: 4px solid var(--bg-color-white);
      background-color: var(--color-secondary);
      padding: 0.5rem 2rem;
      text-decoration: none;
      margin-top: 2rem;
      border-radius: 50px;
      transition: 0.3s;
      color: black;

      &:hover {
        background-color: var(--color-primary);
        color: black;
      }
    }
  }
}
