.review {
  padding: 8rem 0;
  @include flexBox();
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/review-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &-slide {
    width: 60rem;
    margin: auto;
    overflow: hidden;
    transition: transform 0.5s;
  }

  &__slide-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
  }
}

.review-box {
  @include flexBox(column);
  height: 100%;

  .review__img {
    width: 60rem;
    @include flexBox();
    img {
      width: 25rem;
      border-radius: 50%;
      border: 10px white solid;

      @include respond(tab-land) {
        border-width: 5px;
      }
    }
  }

  h2 {
    font-size: 4rem;
    margin-top: 2rem;
    color: var(--color-secondary);
    font-family: "Courgette", cursive;
  }

  h4 {
    font-size: 2.5rem;
    color: var(--color-primary);
    margin-top: 0.5rem;
  }
  p {
    font-size: 1.8rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
  }
}

// .review-btns {
//   position: absolute;
//   bottom: 4rem;
//   left: 50%;
//   transform: translateX(-50%);

//   .btn {
//     outline: none;
//     border-radius: 50%;
//     border: 2px white solid;
//     background-color: transparent;
//     margin: 0 1rem;
//     cursor: pointer;

//     &:focus {
//       background-color: var(--color-secondary);
//     }

//     &:hover {
//       transform: scale(1.1);
//     }
//   }
// }

.navigationbtn {
  .btn {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20rem;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .nextBtn {
    top: 50%;
    right: 5%;
  }
  .prevBtn {
    top: 50%;
    left: 5%;
    // display: none;
  }
}
