.gallery {
  height: auto;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 10rem 5rem;
  @include flexBox;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto auto;
  grid-gap: 0.4rem;
}

.img-box {
  position: relative;
  overflow: hidden;
  border: 2px solid white;

  &:hover &__img {
    transform: scale(1.4);
  }

  &__img {
    width: 100%;
    height: 100%;

    transition: 3s;

    // &:hover {
    //   cursor: pointer;
    // }
  }
  &:first-child {
    grid-row: 1 / span 2;
  }
  &:last-child {
    grid-row: 2 / span 2;
    grid-column: 4/ 5;
  }

  &:hover &__info {
    opacity: 1;
    pointer-events: all;
  }

  &__info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexBox(column);
    // background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: transform 0.3s, opacity 0.8s;
    backdrop-filter: blur(10px);
    backface-visibility: hidden;
    pointer-events: none;

    &__heading {
      font-size: 2rem;
      color: white;
      margin-bottom: 1rem;
    }

    &__button {
      outline: none;
      border: none;
      font-family: "Courgette", cursive;
      background-color: var(--color-secondary);
      font-size: 1.8rem;
      padding: 0.5rem 2rem;
      border: 2px solid white;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: var(--color-primary);
        color: white;
      }
    }
  }
}

.viewImg {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  @include flexBox;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  padding: 8rem;
  transition: 0.3s;

  img {
    position: relative;
    border: 4px solid white;
    height: 100%;
    transform: scale(0.3);
    transition: 0.3s;
  }

  p {
    position: absolute;
    top: 3rem;
    right: 4rem;
    font-size: 3rem;
    color: var(--color-secondary);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.viewImg img.imgOpen {
  transform: scale(1);
}

.viewImg.boxOpen {
  opacity: 1;
  pointer-events: all;
}
